*.run
*.ext
__pycache__
output_*/
*.tcl
*.log
work/
.DS_store
*.so
*.pdf
*.gds
.cache
.local/
build/
work/lvs
work/gds
work/drc
work/xsch
*.raw
.claude
.vscode/
docs/plans/
.svlint.toml
.svls.toml
sim/**/README.md
sim/tb_temp_sens/*.csv
CLAUDE.md
rtl/runs/